h2 {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  color: #333300;
  font-style: Bold;
}

h2:hover {
  font-size: 45px;
  color: #999999;
  text-shadow: 2px 2px 4px #000000;
}

body {
  background-color: #E8E8E8;
  font-size: 16px;
}

.summary {
  text-align: center;
}

.sidebar {
  position:fixed;
}
